/node_modules
/public/hot
/public/storage
/public/uploads
/public/
/storage/*.key
/vendor
/.idea
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
composer.lock
config/database.php
public/assets/images/*
/storage/*
/storage/app/*
/.gitignore
/public/vendor/l5-swagger
/resources/views/vendor/l5-swagger
/config/l5-swagger.php