.profile-page .box-solid {
    border: none !important;
    box-shadow: none;
}
.profile-image label {
    display: none;
}
.profile-image .file-caption-main{
    display: none;
}
.profile-image .file-preview {
    border:none;
}
.profile-image .fileinput-remove {
    display:none;
}
.profile-image .file-upload-indicator {
    display:none;
}
.profile-page .select2-selection.select2-selection--multiple{
    border: none;
    background: #fff;
}
.profile-page .select2-selection__clear{
    display: none;
}
.profile-personal-details .form-group{
    margin-bottom: 0px;
}
.contact-msg-menu-item{
    font-size: 9px !important;
    font-weight: bold !important;
    margin-left: -11px !important;
    margin-top: -12px !important;
    padding: 1px !important;
    padding-left: 1px !important;
    border-radius: 3px !important;
    background-color: red;
}
.feedback-msg-menu-item{
    font-size: 9px !important;
    font-weight: bold !important;
    margin-left: -11px !important;
    margin-top: -12px !important;
    padding: 1px !important;
    padding-left: 1px !important;
    border-radius: 3px !important;
    background-color: red;
}
.user-panel>.info>p {
    font-weight: 600;
    margin-bottom: 5px !important;
}
.custom-header{
    padding: 0 !important;
    margin-bottom: 15px !important;
}
.sidebar-mini.sidebar-collapse .sidebar-menu>li:hover>a>span:not(.pull-right), .sidebar-mini.sidebar-collapse .sidebar-menu>li:hover>.treeview-menu{
    width: 200px !important;
}
.skin-blue-light ul.sidebar-menu li.treeview:last-child{
    margin-bottom: 70px !important;
}
img.logo-admin-mini {
    height: 30px;
}