.help-block{
  width:100%;
  text-align: left;
  color: red;
  display: block;
  margin-top: 10px;
}
.orangeBtn{
  color:#FFF !important;
}
.stripe-logo{
  width:20%;
}
.card-container{
  width:100%;
  display: inline-block;
  text-align: center;
  margin-top:40px;
}
.control-label{
  width:100%;
  display: block;
  text-align: left;
  color:#FFF;
  font-weight: bold;
}
.form-row1{
  width:100%;
  display:inline-block;
}
.form-row1 > div{
  float:left;
}
.back-button{
  display: inline !important;
  padding-top:11px;
  padding-bottom:11px;
}
.checkbox{
  width:50%;
  float:left;
  text-align: left;
  color: #f7941d;
  font-size: 15px;
}
input{
  padding:0px 10px;
}
.expiryDate{
  margin-bottom: 15px;
text-align: center;
font-size: 16px;
font-weight: 500;
color: #f7953a;
}

.selectPlanTitle{
  color: #f7953a;
  font-weight: 500;
}

.selectPlanTitle span{
  position: relative;
  font-size: 18px;
  top: -15px;
  left: 5px;
}
.contactForm .fld{
  margin-bottom:10px !important;
}
.contactForm .help-block{
  margin-bottom: 20px !important;
}
.blue-color{
    background-color: #105197 !important;
}
.form-container {
    display: none;
}

.form-container.active {
    display: block;
}
.record-message{
  width:100%;
  color: red;
  display: block;
  margin-top: 10px;
}
.make-vertical{
  vertical-align: middle;
}
.planBlock h3{
  background: #f7941d;
}
.submit-button{
  cursor:pointer;
}
.BlueBackground{
  background: #105197 !important;
}
.click-coins{
  cursor: pointer;
}
.customPagination .pagination .active{
  background: #f7941d;
  color: #fff;
  padding: 4px 11px;
}
.definePage .enter-phrase{
  height: 150px;
  resize: none;
}
.defineMeaningBackground{
  background: rgba(0,0,0,0.8);
}
.coinsWrapper button{
  cursor:pointer;
}
.bio{
  margin-top: 10px;
}
.tabsContainer{
  margin-bottom: 15px;
}

.voteMeaningBg .contextListing li input[type="radio"], .illustrators-active .illustrations-block input[type="radio"]{
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
  z-index: 5;
  cursor:pointer;
  display: block;
}

.voteMeaningBg .contextListing li a{
  line-height: 130px;
}

.voteMeaningBg .contextContent{
  height: 160px;
}

.voteMeaningBg .contextContent .tab-pane.current{
  display: inherit;
}

.voteMeaningBg .contextListing li{
    cursor:pointer;
}
.custom-checkbox .custom-control-label{
  text-align: left;
}
.default-loader{
  position: fixed;
  height:100%;
  width: 100%;
  background: rgba(0,0,0,.3);
  z-index: 100;
  display: none;
}
.default-loader .loader-container{
  height:100vh;
}
.default-loader .loader-container img{
  display: block;
  margin:0px auto;
  width:20%;
  top:50%;
  transform: translateY(-50%);
  position: relative;
}
.In-Progress, .Submitted, .Open{
  color: #f7941d;
}
.show-div{
  display: none;
}
.fancybox-skin {
  padding: 5px !important;
  background: #333 !important;
  border: 1px Solid #fff !important;
}

.glossarybg .glossary-block .img-holder .view p{
 color: #fff;
  margin-bottom: 0px;
  font-weight: 600;
  text-transform: uppercase;
}
.glossarybg .glossary-block .img-holder .view a{
  color: #fff;
}

.glossarybg .glossary-block .img-holder .favIcon{
  position: absolute;
  right: 10px;
  top: 10px;
  background: #fff;
  color: grey;
  font-size: 18px;
  border-radius: 50px;
  padding: 2px 5px;
}
.tut-div li{
  list-style: disc !important;
}
a.disabled{
  background-color: grey !important;
  cursor: not-allowed !important;
}
.col-sm-12.cont-div a {
  cursor: pointer !important;
}
.col-sm-12.cont-div a.disabled {
  cursor: not-allowed !important;
}
.favIcon2{
   color: #f7952d !important;
}

.glossarybg .glossary-block:hover .img-holder .favIcon{
  display: inline-block;
}

.uploadImgHolder{
  width: 150px;
  height:150px;
  position: relative;
  overflow: hidden;
  display: inline-block;
  vertical-align: top;
}

.uploadImgHolder img{
  position: absolute;
  left:50%;
  top:50%;
  right: 0;
  max-height: 170px;
  transform: translate(-50%, -50%);
}
.illustrator-form{
  display: inline-block;
  vertical-align: top;
}
.dashBoard-container .topLinks p{
  color: #737373;
  display: inline-block;
  padding: 0px 5px;
  font-weight: 500;
  text-transform: uppercase;
  font-size:9pt !important;
}
.dashBoard-container .topLinks{
  margin-left:30px;
}
.funfact .funFact-listing .readMore{
  top:0;
}
.funfact .funFact-listing .info div {
  margin-bottom: 0;
  font-size: 12px;
  color: #fff;
}
.funfact-detail .funDetail div {
  color: #fff;
  font-size: 14px;
  text-align: justify;
}
.hide_form{
  display: none;
}
.green-color{
}
.bid-div{
  margin-bottom: 20px;
}
.whiteText{
  text-transform: capitalize;
}
.asterick{
  color: red;
  position: absolute;
  right: 30px;
  top: 6px;
  font-size: 22px;
}
.statistics{
  display: inline-block;
  vertical-align: middle;
  margin-left: 10px;
  margin-right: 10px;
  font-size: 14px;
  position: relative;
  color:#737373;
  top: -8px;
}
.rightMenu:hover{
  color: #f7941d;
}
.dashBoard-container .userHeader .rightMenu{
  width: 120px;
}

.statistics:hover, .statistics:active, .statistics:focus{
  color: #f7941d;
}
.rolesblock{
  display: block;
  margin-top: 20px;
}
.desired-roles{
  display: block;
  margin:25px 0px;
}
.heading-color{
  background: rgba(255, 255, 255, 0.19) !important;
}
.days-left{
  font-weight: bold;
  font-size:14px !important;
}
.statistics-heading{
  width:50%;
  float:left;
}
.statistics-heading > p{
  float:right;
  text-transform: uppercase;
  color: #f7941d !important;
  font-weight: 500;
  font-size: 16px;
  margin: 0px 0px 10px 0px;
}

.dashBoard-container .userHeader .rightMenu .menu{
  width: 98px;
  margin-right: 10px;
}

.dashBoard-container .userHeader .rightMenu .menu span{
  color: #767272;
  padding-top: 5px;
  display: inline-block;
}

.dashBoard-container .userHeader .rightMenu .menu:hover span{
  color: #f7953a;
}
.commentBox{
  right:-310px !important;
}
.hide-button{
  display:none;
}
.gameOptionDiv .container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default radio button */
.gameOptionDiv .container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}
.cont-div{
  margin-bottom: 10px;
}
.cont-div a{
  padding: 20px;
  background-color: #f7952d;
  border-radius: 30px;
  padding-bottom: 7px;
  padding-top: 7px;
  color: #fff !important;
  font-weight: bold;
  float: right;
}
.cont-div a:hover{
  background-color: yellow !Important;
  color: black !Important;
}
.attach-image{
  width: 100%;
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
}
.active-illustrator .mask{
  opacity: 0.8;
  visibility: visible;
}
.llustrator-div{
  display: block;
  width:100%;
}
.illustrations-block .main-img {
  height: 150px;
  display: block;
  max-width: 100%;
  margin: 0 auto;
  width:auto;
}
.illustrations-block{
  cursor: pointer;
}
.illustrator input{
  z-index: 9999 !important;
  cursor: pointer;
}
.illustrations-block .fa-search{
  z-index: 99999;
}
.active-link a span{
  color:#f7941d;
}
aside .menuCate .menuListing .active-link a{
  background: url(../images/menu-icon1.png) no-repeat 0 -40px;
  color: #f7941d;
  background-size: 16px;
}
.switch-account{
  cursor:pointer;
}
input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance:textfield;
}
.languageBar .list a{
  color:#f7941d;
  width:100%;
  display: inline-block;
}
.fancybox-lock .fancybox-overlay{
  z-index: 100000;
}
.dashBoard-container .userHeader .userAvtar{
  cursor:pointer;
}
.profile-anchor:hover{
  color:#737373 !important;
}
.explore-search {
  text-align: center;
  width: 400px;
  display: inline-block;
  position: relative;
}

.explore-search .fld {
  background: none;
  border: none;
  border-bottom: #fff solid 1px;
  width: 100%;
  height: 30px;
  outline: none;
  color: #fff;
}

.explore-search label{
  color: #fff;
  text-align: left;
  display: block;
  font-weight: 600;
}

.explore-search .search-btn {
  background: none;
  border: none;
  color: #fff;
  position: absolute;
  bottom:6px;
  right: 0;
}
.userExploreContext2 ul.pagination li {
  padding: 7px;
  font-weight: 600;
}
.userExploreContext2 ul.pagination li.active{
  color: #fff;
}
.userExploreContext2 ul.pagination li.disabled {
  color: #fff;
}
.textFinder ul.pagination li {
  padding: 7px;
  font-weight: 600;
}
.textFinder ul.pagination li.active{
  color: #fff;
}
.textFinder ul.pagination li.disabled {
  color: #fff;
}
.menuListing li.active a span{
  color:#f7941d;
}
.contactPage .contactInfo li .img-holder img{
  width:50%;
  display:inline-block;
}
.hide-div{
  display:none;
}
.history-table td{
  border-top:0px !important;
}
.history-table tr{
  background-color:transparent !important;
}
.history-table td select{
  min-width:100% !important;
}
.sidebar-container{
  background: #333b47 !important;
  display: inline-block;
  width:100%;
}

.modal-open .modal {
  background: rgba(0,0,0,0.6);
}

#pointModal .modal-content{
  background: rgba(0,0,0,.6);
  border: #f7953a solid 1px;
  border-radius: 5px;
}

#pointModal .modal-header{
  background: #f7943a;
  color: #fff;
  border-bottom: none;
}

#pointModal .modal-title{
  font-weight: 600;
}

#pointModal .modal-footer{
  border-top: 1px solid #f7943a;
}

#pointModal p{
  color: #fff;
}

#pointModal .modal-header button{
  color: #fff;
  font-size: 28px;
  opacity: 1;
}

.payment_method{
  width: 100%;
}

.payment_method .card-img{
  width: 290px;
  margin: 0 auto;
  display: block;
}

.payment_fld{
  display: none;
}

.card-img{
  margin: 0 auto;
}
.text-white a{
  color: #fff !important;
}
.text-white a:hover{
  color: #f7941d !important;
}
img#hangman {
  height: 200px !important;
}
.confirmation-message{
  color:white;
}
.contextFinder .nav-pills{
  background: none !important;
}
.contextFinder .exportBlock a {
  font-size: 16px;
}
.sentence_case{
  text-transform: capitalize;
}
.correct_char{
  border: green !important;
  background: green !important;
}
.detailExplore h2{
  text-transform: none !important;
}
.padding-class{
  padding: 7px 10px;
}
.illustrator{
  width:100%;
}
.social-div{
  width:40%;
  display: inline-block;
}
.social-div img{
  width:90%;
}
.small-text{
  font-size:9pt;
}
.custom-checkbox label{
  position: inherit;
}
.orange-clr{
  color: #f7942e;
}